<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<section class="audio-player" id="audio-player">
  <f:render partial="Player" arguments="{song: songs.0}"/>
  <p class="currently-playing"></p>
  <f:render partial="Controls" />

  <f:render partial="Playlist" arguments="{songs: songs}" />

</section>

<!--
  @TODO move this outside of the template
-->
<script>
  window.onload = function(){
  window.tx_nim_html5audioplayer = new HTML5audioplayer();
}
</script>
</f:section>