$lightMagenta: #ee0060;
$gray: #ddd;
$darkGray: #777;
$extensionURL: "/typo3conf/ext/nim_html5audioplayer/";

$playIcon: "\e600";
$pauseIcon: "\e603";
$nextIcon: "\e601";
$prevIcon: "\e602";

$buttonSpread: 100px;
$buttonTop:    180px;

.tx-nim-html5audioplayer {
  width: 270px;
  position: relative;

  .audio-controllerNext:before {
    padding: 13px 15px;
  }
  .audio-controllerPrev:before {
    padding: 13px 12px;
  }
  .audio-controllerNext, .audio-controllerPrev {
    width:         50px;
    height:        50px;
    color:         $gray;
    border-radius: 50%;
    border:        1px solid $gray;
    transition:    all 0.3s;

    &:hover {
      border: 1px solid $lightMagenta;
      color:  $lightMagenta;
    }

    &:before {
      display:    inline-block;
      text-align: center;
      font-size:  20px;
      box-sizing: border-box;
    }
  }

  .audio-controller {
    clear: both;
    width: 270px;
    height:       225px;
//    padding-left: 35px;
    margin: 0px auto;
    &:after {
      clear: both;
    }
  }

  .audio-controllerPlay, .audio-controllerPause {
    font-size: 40px;
    position:  relative;
    top:        88px;
    left:      -11px;
  }

  .audio-controllerPlay:before {
    content:      $playIcon;
    color:        $lightMagenta;
    padding-left: 5px;
  }

  .audio-controllerPause:before {
    content:     $pauseIcon;
    color:       $lightMagenta;
    padding-top: 15px;
  }

  .audio-controllerNext:before {
    content: $nextIcon;

  }

  .audio-controllerPrev:before {
    content: $prevIcon;

  }

  .audio-controllerPrev {
    position: relative;
    top:      $buttonTop;
    left:    -$buttonSpread / 2 - 25;
  }

  .audio-controllerNext {
    position: relative;
    top:      $buttonTop;
    left:     $buttonSpread / 2 - 25;
  }



  .audio-controller li {
    font-family:     "NIM_HTML5audioplayer";
    float:           left;
    cursor:          pointer;
    list-style-type: none;
    width:           50px;
    height:          50px;
  }

  .volumeknob, .timerunner {
    path {
      &:nth-child(1) {
        fill:  $gray;
        stoke: none;
      }

      &:nth-child(2) {
        fill: $lightMagenta;
      }
    }
  }

  .timerunner {
    margin: 50px;
  }

  #control > * {
    outline: none;
  }

  .audio-playlist ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;

      .song {
        display: block;
        padding: 10px 25px;
        transition: all 0.5s;
        color: $darkGray;

        

        &.active {
          color: $lightMagenta;
          background:  rgba(0,0,0,0.05);
        }
      }
    }
  }

  @media screen and (max-width: 640px){
    width: 100%;
  }
}

@font-face {
  font-family: 'NIM_HTML5audioplayer';
  src:         url($extensionURL + 'Resources/Public/fonts/audioplayer.eot?l07elj');
  src:         url($extensionURL + 'Resources/Public/fonts/audioplayer.eot?#iefixl07elj') format('embedded-opentype'), url($extensionURL + 'Resources/Public/fonts/audioplayer.woff?l07elj') format('woff'), url($extensionURL + 'Resources/Public/fonts/audioplayer.ttf?l07elj') format('truetype'), url($extensionURL + 'Resources/Public/fonts/audioplayer.svg?l07elj#icomoon') format('svg');
  font-weight: normal;
  font-style:  normal;
}

//[class^="icon-"], [class*=" icon-"] {
//  font-family: 'icomoon';
//  speak: none;
//  font-style: normal;
//  font-weight: normal;
//  font-variant: normal;
//  text-transform: none;
//  line-height: 1;
//
//  /* Better Font Rendering =========== */
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//}
//
//.icon-play:before {
//  content: "\e600";
//}
//.icon-chevron_right:before {
//  content: "\e601";
//}
//.icon-chevron_left:before {
//  content: "\e602";
//}
//.icon-break:before {
//  content: "\e603";
//}
