/*
gray: #ccc;
light magenta: #ee0060;
heavy magenta: #e9004c;
 */

.tx-nim-html5audioplayer {
    position: relative;
}

.audio-controllerPlay:before {
    content: '\25BA';
    color:   #ee0060;
}

.audio-controllerPause:before {
    content: "❚❚";
    color:   #ee0060;
}

.audio-controllerNext:before {
    content: ">";
}

.audio-controllerPrev:before {
    content: "<";
}

.audio-controllerNext:before, .audio-controllerPrev:before {
    color:         #ccc;
    border:        1px solid #ccc;
    display:       inline-block;
    text-align:    center;
    border-radius: 50%;
    width:         50px;
    height:        50px;
    font-size:     30px;
    box-sizing:    border-box;
    padding:       10px;
    transition:    all 0.1s;
}

.audio-controllerNext:hover:before, .audio-controllerPrev:hover:before {
    color:  #ee0060;
    border: 1px solid #ee0060;
}

.audio-controller {
    clear: both;
}

.audio-controller:after {
    clear: both;
}

.audio-controllerPlay, .audio-controllerPause {
    font-size: 50px;
    position:  absolute;
    top:       85px;
    left:      117px;
}

.audio-controllerPrev {
    position: absolute;
    top:      190px;
    left:     35px;
}

.audio-controllerNext {
    position: absolute;
    top:      190px;
    left:     185px;
}

.audio-controller {
    height:       225px;
    padding-left: 35px;
    margin:       0;
}

.audio-controller li {
    float:           left;
    cursor:          pointer;
    list-style-type: none;
    width:           50px;
    height:          50px;
    z-index:         1;
}

.song.active {
    color: #ee0060;
}

.volumeknob path:nth-child(1),
.timerunner path:nth-child(1) {
    fill:  #aaa;
    stoke: none;
}

.volumeknob path:nth-child(2),
.timerunner path:nth-child(2) {
    fill:  #ee0060;
    /*filter: url(#inner-shadow);*/
    /*filter: url(/typo3conf/ext/nim_html5audioplayer/Resources/Public/filter.svg#inset-shadow);*/
}

.timerunner {
    margin: 50px;
}

#control > * {
    outline: none;
}