.audio-controllerPlay {
  display: block;
  height: 51px;
  width: 51px;
  background:url('/typo3conf/ext/nim_html5audioplayer/Resources/Public/Img/ndmusic-sprites.png') no-repeat 0 -5px;
}

.audio-controllerPause {
  display: block;
  height: 51px;
  width: 51px;
  background:url('/typo3conf/ext/nim_html5audioplayer/Resources/Public/Img/ndmusic-sprites.png') no-repeat -55px -5px;
}

.audio-controllerNext {
  display: block;
  height: 51px;
  width: 51px;
  background:url('/typo3conf/ext/nim_html5audioplayer/Resources/Public/Img/ndmusic-sprites.png') no-repeat -161px -5px;
}

.audio-controllerPrev {
  display: block;
  height: 51px;
  width: 51px;
  background:url('/typo3conf/ext/nim_html5audioplayer/Resources/Public/Img/ndmusic-sprites.png') no-repeat -110px -5px;
}
.audio-controllerPlay:hover {
  display: block;
  height: 51px;
  width: 51px;
  background:url('/typo3conf/ext/nim_html5audioplayer/Resources/Public/Img/ndmusic-sprites.png') no-repeat 0 -60px;
}

.audio-controllerPause:hover {
  display: block;
  height: 51px;
  width: 51px;
  background:url('/typo3conf/ext/nim_html5audioplayer/Resources/Public/Img/ndmusic-sprites.png') no-repeat -55px -60px;
}

.audio-controllerNext:hover {
  display: block;
  height: 51px;
  width: 51px;
  background:url('/typo3conf/ext/nim_html5audioplayer/Resources/Public/Img/ndmusic-sprites.png') no-repeat -161px -60px;
}

.audio-controllerPrev:hover {
  display: block;
  height: 51px;
  width: 51px;
  background:url('/typo3conf/ext/nim_html5audioplayer/Resources/Public/Img/ndmusic-sprites.png') no-repeat -110px -60px;
}

.audio-controller {
  clear: both;
}

.audio-controller:after {
  clear: both;
}

.audio-controller:before,
.audio-controller:after {
  display: table;
  line-height: 0;
  content: "";
}

.audio-controller li {
  float: left;
  cursor: pointer;
  list-style-type: none;
}






.p1 rect {
  fill: #57C7B6;
}

.p1 g polygon {
  opacity: 1;
}

.p1 circle {
  fill: #256058;
  stroke: #57C7B6;
  stroke-width: 2;
  filter: url(#dropshadow);
}

.p1 text {
  font-size: 10px;
  fill: #57C7B6;
  font-family: sans-serif;
  font-weight: 300;
  -webkit-transition: all .1s ease-in-out;
}

.p1 text.active {
  font-size: 15px;
  -webkit-transition: all .3s ease-in-out;
}
